

@font-face {
	font-family: 'NotoSans';
	font-weight: 900;
	font-display: swap;
	src: local('NotoSans Black'), url(./ttf/NotoSans-Black.ttf) format('ttf'), url(./ttf/NotoSans-Black.ttf) format('ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 800;
	font-display: swap;
	src: local('NotoSans ExtraBold'), url(./ttf/NotoSans-ExtraBold.ttf) format('ttf'), url(./ttf/NotoSans-ExtraBold.ttf) format('ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	font-display: swap;
	src: local('NotoSans Bold'), url(./ttf/NotoSans-Bold.ttf) format('ttf'), url(./ttf/NotoSans-Bold.ttf) format('ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 600;
	font-display: swap;
	src: local('NotoSans SemiBold'), url(./ttf/NotoSans-SemiBold.ttf) format('ttf'), url(./ttf/NotoSans-SemiBold.ttf) format('ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 500;
	font-display: swap;
	src: local('NotoSans Medium'), url(./ttf/NotoSans-Medium.ttf) format('ttf'), url(./ttf/NotoSans-Medium.ttf) format('ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 400;
	font-display: swap;
	src: local('NotoSans Regular'), url(./ttf/NotoSans-Regular.ttf) format('ttf'), url(./ttf/NotoSans-Regular.ttf) format('ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 300;
	font-display: swap;
	src: local('NotoSans Light'), url(./ttf/NotoSans-Light.ttf) format('ttf'), url(./ttf/NotoSans-Light.ttf) format('ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 200;
	font-display: swap;
	src: local('NotoSans ExtraLight'), url(./ttf/NotoSans-ExtraLight.ttf) format('ttf'), url(./ttf/NotoSans-ExtraLight.ttf) format('ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 100;
	font-display: swap;
	src: local('NotoSans Thin'), url(./ttf/NotoSans-Thin.ttf) format('ttf'), url(./ttf/NotoSans-Thin.ttf) format('ttf');
}
